In [1]:
!pip show pandas

Name: pandas
Version: 1.4.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\zheqi\anaconda3\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: datashader, holoviews, hvplot, seaborn, statsmodels, xarray

In [2]:
import pandas as pd

In [3]:
gitCloudRepo = 'https://github.com/superadlerrrk/542/raw/main/week1/'
fileName = 'HSBfromGoogle.csv'

In [4]:
DFcsv = pd.read_csv(gitCloudRepo + fileName)

In [5]:
DFcsv.shape

(600, 15)

In [7]:
DFcsv.head(10)

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
5,6,Male,Asian,Medium,Public,Academic preparatory,0.46,0.03,0.00,Proprietor,49.5,46.3,46.2,41.7,35.6
6,7,Male,Asian,Low,Public,General,0.44,-0.47,0.33,Professional_2,62.7,64.5,48.0,63.4,55.6
7,8,Female,Asian,Low,Public,General,0.68,0.25,1.00,Professional_1,44.2,51.5,36.9,49.8,55.6
8,9,Male,Asian,Medium,Public,General,0.06,0.56,0.33,Professional_1,46.9,41.1,45.3,47.1,55.6
9,10,Female,Asian,Low,Public,General,0.05,0.15,1.00,Proprietor,44.2,49.5,40.5,39.0,50.6

In [8]:
DFcsv.tail(5)

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

In [9]:
DFcsv.columns

Index(['id', 'sex', 'race', 'ses', 'sctyp', 'hsp', 'locus', 'concpt', 'mot',
       'car', 'rdg', 'wrtg', 'math', 'sci', 'civ'],
      dtype='object')